.button {
  padding: 10px 20px;
  border: none;
  background-color: #ff8c00;
  color: #fff;
  font-size: 26px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%;
}

.button:hover {
  background-color: #e67e22;
}
